{% extends "layouts/content-full-width.html" %}
{% set pageName = "New Heroku app" %}
{% set pageDescription = "Learn to set up a new app in Heroku." %}
{% set selectedNav = "Learn" %}
{% set lastUpdated = "October 2023" %}
{% set backlog_issue_id = "" %}
{% set zeroMainMargin = "true"%}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

    <section style="background: #ebf2f6;">
        <div class="dfe-width-container">
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/learn">Learn</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/learn/heroku">Heroku</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                       New Heroku app
                    </li>
                </ol>
            </div>
        </div>
        <div class="dfe-width-container" style="padding: 60px 0px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}