{% set pageName = "Figma" %}
{% set pageDescription = "Using Figma to design and test different ideas and solutons for Department for Education service." %}
{% set selectedNav = "Prototyping" %}
{% set lastUpdated = "October 2023" %}
{% set backlog_issue_id = "" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}


{% markdown %}

## Get access to Figma

The DfE has a organisation account for Figma, and all designers can be set up with access.

To get access, go to Digital Tools Support and from the pinned options, select Digital Tools Requests > Figma - Service portal.

## Learn to use Figma

You can find a comprehensive set of <a href="/learn/modules/figma" class="govuk-link">resources in the learn section</a> of this site.

The modules include:

- the basics and Figma for beginners
- best practice
- community templates
- auto layout
- prototyping
- using plugins


## Why use Figma for prototyping

When you want to design different ideas to solve a problem, or visualise something in a product or service quickly, you can use Figma to approach this situation.

### Work collaborativley at the same time 

Figma is designed with collaboration in mind. Unlike the prototype kit, Figma allows multiple people to work on a design simultaneously. 

This real-time collaboration ensures that every stakeholder is on the same page, immediately, leading to quicker decision-making and more cohesive design outcomes.

### Rapid prototyping

Prototyping is an essential step in the design process, allowing you to test and iterate on your ideas before committing to a final design. 

Figma offers powerful prototyping features that enable you to create interactive mock-ups with ease. This not only saves time but also helps you communicate your design concepts with other team members and stakeholders.

### Feedback and commenting

Figma's commenting and feedback features streamline the design review process. Team members and stakeholders can leave comments directly on the design, and you can address feedback in real time. 

This iterative approach leads to better design outcomes and a more efficient design workflow.

### Version control

Figma keeps a comprehensive version history of your design files, allowing you to revisit and restore earlier iterations if needed. 

This version control feature offers peace of mind and ensures that your design progress is never lost.

### Third-party integrations

Figma offers integrations with various third-party tools and components.

From project management platforms to developer handoff tools, Figma's integrations enhance your productivity and can streamline the design process.


{% endmarkdown %}
{% endblock %}