{% extends "layouts/work-post-layout-full.html" %}

{% set pageName = "Design objectives and working groups" %}
{% set pageDescription = "The design objectives we have in the Department for Education and our progress on delivering them through our working groups.." %}
{% set selectedNav = "Inside design" %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = ""%}
{% set backlog_issue_id = "" %}
{% set author = "Andy Jones" %}
{% set authorRole = "Head of Design" %}
{% set publishedDate = "3 August 2023" %}



{% block content %}

    <p class="govuk-body">The design objectives have been created to grow, support, and develop the design professions within the department.</p>

<p class="govuk-body">They align to our design ops approach for:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>how we work together</li>
    <li>how we get work done</li>
    <li>how our work creates impact</li>
</ul>


 <section class="dfe-panel">
   
<span class="govuk-caption-l">Objective 1</span>
    <h2 class="govuk-heading-m">Raise the standard of accessible and inclusive design across the department</h2>
  </section>



<span class="govuk-caption-l">Objective 1</span>
    <h2 class="govuk-heading-m">Raise the standard of accessible and inclusive design across the department</h2>

    <span class="govuk-caption-l">Objective 2</span>
    <h2 class="govuk-heading-m">A consistent approach to recruitment and onboarding for design professionals with clear objectives for professions and community</h2>


    <span class="govuk-caption-l">Objective 3</span>
    <h2 class="govuk-heading-m">A Design Standard for implementing consistent content design, service patterns and components in digital products and services</h2>

        <span class="govuk-caption-l">Objective 4</span>
    <h2 class="govuk-heading-m">Mature the design profession around a framework of guidance, principles, good practice, learning and development</h2>
{% endblock %}

{% block sidebar %}

    <aside>
        <h2 class="govuk-heading-m">Related content</h2>
        <p class="govuk-body">Email</p>
        <p class="govuk-body">Data sustainability survey for LAs</p>
        <p class="govuk-body">
            <a class="govuk-link" href="https://familyhubsnetwork.com/developing-digital-tools/" target="_blank" rel="noopener noreferrer">https://familyhubsnetwork.com/developing-digital-tools/</a>
        </p>
    </aside>

    {% endblock%}